<div class="jumbotron">
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.HttpRouteUrl("DefaultApi", new { controller = "Testpwy" })
    }))
    {
        <p><label>Imie:</label> @Html.Editor("imie")</p>
        <p><label>Nazwisko: </label>@Html.Editor("nazwisko")</p>
        <button type="submit">Dodaj</button>
    }
</div>
